{$CADDY_DOMAIN} {
    handle_path /llmapi* {
        basicauth {
            admin {$CADDY_ADMIN_PASSWORD_HASH}
        }
        reverse_proxy freellmapi:3001
    }

    handle {
        reverse_proxy pwa:80
    }
}
